// ************
//
// Big Button
//
// ************


.big-button {
  background: $purple;
  border: none;
  border-bottom: .6rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled {
  opacity: .5;
}




// ************
//
// Regular Button
//
// ************

.button {
  background: $purple;
  cursor: pointer;
  color: white;
  border: none;
  border-bottom: .3rem solid darken($purple, 10%);
  font-weight: 500;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}

button:disabled {
  cursor: default;
}

@media (min-width: $desktop-breakpoint) {
  .big-button{
    margin-bottom: $xl-size;
  }
}